a:link {color:#dddddd;}      /* unvisited link */
a:visited {color:#dddddd;}  /* visited link */
a:hover {color:#dddddd;}  /* mouse over link */
a:active {color:#dddddd;}  /* selected link */

.make-live{
color:#fff;
float:right;
}

.units{
padding:2px;
font-size:50%;    
color:#ddd
    }